@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


:root{
    --MainColor: #282c34;
    --AccentColor: #6FEB95;
    --SecondaryAccentColor: #4C8C65;
    --TitleFontSize: 70px;
    --ShadowOpacity: 0.7;
}



body{
    background-color: var(--MainColor);
    color: rgb(173, 173, 173);  
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: var(--TitleFontSize);
    padding: 0px;
    margin: 0px;
}

#Main{
    background-image: url(../assets/portrait.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
}

.shader{
    background-color: #282c3450;
    width: 100%;
    height: 100%;
}

.title{
    --Width: 720px;
    padding: 10px;
    border-radius: 5px;
    width: var(--Width);
    left: calc(57% - var(--Width)*0.5);
    position: relative;
    top: 20%;
    transform: translate(0,-50%);
    background-color: rgb(59, 59, 59);
    opacity: 1;
}